__pycache__
*.pyc
*.egg-info/
*.o
*.d
*.v
*.vvp
*.vcd
*.tmp
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.init
*.gtkw
*.sublime*
src/bfs/pcie_integration/
build/*
!build/config.ini
run/*
!run/config.ini
sim/build/*
!sim/build/Makefile
!sim/build/obj_dir/Makefile
